.products-container {
    margin: 20px;
}


.products-container {
    padding: 20px;
}

mat-grid-list {
    margin: auto;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra los botones horizontalmente */
    gap: 10px;
    /* Espacio entre los botones */
}